[Desktop Entry]
Name=PNG2PDF
Comment=Convert images to a pdf file
GenericName=PDF Converter
Exec=png2pdf
Icon=png2pdf
Type=Application
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;